/*Utils*/
.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}
.text-justify{
    text-align: justify;
}
.height-max{
    height: 100%;
}

body,html{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height:100%;
    overflow: hidden;
}

/*Dedicated*/
.widget{

}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*Media queries*/
@media screen and (max-width: 300px) {
    #widget-content{
        height: 150px;
        overflow: hidden;
    }
}
@media screen and (max-width: 200px) {
    #widget-content{
        height: 100px;
        overflow: hidden;
    }
}

